.footer {
    background: var(--navy-blue);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    padding: 100px 0px;
    width: 1440px;
    height: 312px;
}

.footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    padding: 0px 15px;
    width: 1158px;
    height: 112px;
    max-width: 1158px;
}

.footer-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 264px;
    height: 112px;
    max-width: 264px;
}

.logo-footer{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;

    /* line-height: 24px; */
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cloud);
}

.footer-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}