.portfolio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 120px 0px;
    width: 1440px;
    height: 1240px;
}

.portfolio .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    padding: 0px 15px;
    width: 1158px;
    height: 1000px;
    max-width: 1158px;
}

.portfolio-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.portfolio-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    width: 1128px;
    height: 888px;
}

.portfolio-li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 360px;
    height: 420px;
    min-width: 288px;
    max-width: 360px;
    min-height: 360px;
    max-height: 420px;
    background: var(--white);
}

.portfolio-mini-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portfolio-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

